@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #0F1416;
  margin: 0;
}

body {
  margin: 0;
}

/*Hide scrollbar yet allow scroll for Item modal*/ 
.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width:none;
}

/*Scrollbar for whole web*/
/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    120deg,
    #6f4e37,
    #c8a27c,
    #6f4e37
  );
  background-size: 300% 300%;
  animation: latteFlow 4s linear infinite;
  border-radius: 999px;
  box-shadow: inset 0 0 6px rgba(255, 200, 150, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.1);
}

@keyframes latteFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6f4e37 transparent;
}

/* Prevent layout shift */
:root {
  scrollbar-gutter: stable;
}
