@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/*Hide scrollbar yet allow scroll*/
.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width:none;
}

